*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.navbar-links{
    display: flex;
    column-gap: 20px;
}

.navbar-links a{
    text-decoration: none;
    color: #1d232c;
}

.navbar-links a:hover{
    text-decoration: underline;
    color: #1d232c;
}

.navbar-menu-toggle{
    display: none;
}

/*Side Navbar*/

.side-navbar{
    background-color: #1d232c;
    width: 50%;
    height: 150%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    color: white;
    position: absolute;
    z-index: 1;
    
}


.side-navbar-link{
    margin-bottom: 30px;
}

.side-navbar-link a{
    text-decoration: none;
    color: white;
}
.side-navbar-link a:hover{
    text-decoration: underline;
    color: white;
}

/*Header*/
.header{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}
.header-button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: #1d232c;
    color: white;
    cursor:pointer;
}
.header img{
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

.service{
    padding: 20px;
}
.service-container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.service-container-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.service-container-2 div{
    background-color: #f2f4f7;
    border-radius: 5px;
    padding: 10px;
}
.new-arrival{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
}

.new-arrival-container{
    position: relative;
    flex-basis: 20%;
}
.new-arrival-container img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.new-arrival button{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    color: #1d232c;
    position: absolute;
    top: 60%;
    left: 13%;
    border-radius: 10px;
    border: none;
}

.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.news input{
    padding: 11px;
    width: 80vw;
    margin-bottom:  10px ;
    border: solid black 3px;
}

.news button{
    margin-top: 4px;
    color: #f2f4f7;
    background-color: #1d232c;
    border-radius: 10px;
    padding: 10px;
}

.footer{
    position: relative;
    margin-top: 20px;
    padding: 40px;
    background-color: #1d232c;
    color: white;
}

.footer p{
    margin-top: 5px;
}

.footer i{
    margin-top: 5px;
    margin-left: 10px;
}

.product-section{
    margin-top: 20px;
}


.product-search{
    display: flex;
    width: 80%;
    border: solid black 2px;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.product-search input{
    border: none;
    background-color: transparent;
    width: 100%;
    font-size: 100%;
}


.product-search input:focus{
    outline: none;
}

.products{
    padding: 20px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.products-box{
    text-align: center;
    flex-basis: 20%;
}
 .products-box img{
    border-radius: 10px;
 }

 .products-box img{
    width: 200px;
    height: 200px;
 }

 .contactus{
    display: flex;
    justify-content: center;
}

.contact-container{
    background-color: #1d232c;
    height: 520px;
    width: 73%;
    color: white;
    padding: 50px;
    margin: 13px;
    border: none;
    border-radius: 15px;
}
.contact-box2{
margin-top: 20px;

}

.contact-container input{
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 20px;
}

.contact-container p{
    margin-top: 15px;
}


.contact-container input:focus{
    outline: none;
}

.contact-text{
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    font-size: x-large;
    
}

.contact-text:focus{
    outline: none;
}

 
.contact-container button{
    background-color: rgb(46, 56, 77);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
                rgba(0, 0, 0, 0.12) 0px -12px 30px,
                rgba(0, 0, 0, 0.12) 0px 4px 6px,
                rgba(0, 0, 0, 0.17) 0px 12px 13px,
                rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.contanct-us{
    display: flex;
    justify-content: center;
}
 
 

/* Media Query*/
@media screen and (max-width:700px) {
    .navbar-menu-toggle{
        display: block;
    }
    .navbar-links{
        display: none;
    }
    .header-image{
        display: none;
    }
    .service-container-1{
        display: none;
    }
    .service-container-2{
        flex-direction: column;
    }
}